body{
    background-color: lightcoral;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
     justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
     -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#save{
  padding: .7rem 1rem;
  color: white;
  background: black;
  border-radius: 4px;
}

#update{
  padding: .7rem 1rem;
  color: white;
  background: black;
  border-radius: 4px;
}

#remove{
  padding: .7rem 1rem;
  color: white;
  background: black;
  border-radius: 4px;
}

body article input {
    margin: 2rem;
    padding: .2rem;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
  }
  input:focus {
    outline: none;
    border: 2px solid rgb(100, 70, 190);
}